$primary: #FF3454;
$Secondary: #062E3E;
$Secondary-Dark: #062E3E;
$black: black;
$white: white;
$grey: gray;
$gray: $grey;
$navclr: $white;
$fontmain: 'OCR A',
Courier,
monospace;
$buttonsize: 18px 40px;
$marginbutton: 0px 20px;

* {
    // background-color: black;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

body {
    height: 0;
    widows: 0;
    left: 0;
    top: 0;
}

header {
    justify-content: center;
    height: 80px;
    width: 80%;
    position: absolute;
    top: 0px;
    z-index: 10;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        .logo {
            a {
                &:first-child {
                    margin-left: 20vw;
                }

                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: $navclr;

                strong {
                    font-weight: 1000;
                }
            }
        }

        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $navclr;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            a:hover {
                color: $primary;
            }

        }
    }
}

.bannerimage {
    position: relative;
    width: 100%;
    z-index: 9;

    .imaget img {
        max-height: 100vh;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .Blureffect {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(rgb(16, 113, 151), .4);
    }

}


.Maintxt {
    z-index: 10;
    width: 100%;
    top: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;

    .smalltxt {
        font-family: $fontmain;
        align-self: center;
        justify-content: center;
        font-size: 11px;
        color: $primary;

    }

    .biggrtxt {
        font-family: $fontmain;
        text-align: center;
        align-self: center;
        justify-content: center;
        font-size: 40px;
        color: $white;
    }

    .buttonsban {
        position: relative;
        top: 70px;
        align-self: center;

        .button1 {
            margin: $marginbutton;
            border: $white 2px;
            background-color: transparent;
            color: white;
            border: $white solid 1px;
            padding: $buttonsize;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }

        .button2 {
            margin: $marginbutton;
            border: $white 2px;
            background-color: $primary;
            color: white;
            padding: $buttonsize;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
    }
}

.Scrolltext {
    position: absolute;
    font-size: 25px;
    color: $black;
    top: 60vh;
    left: 15%;
}

.Maindata {
    margin-left: 15vw;
    width: 40%;
    height: 50%;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    /* display: flex;
    flex-direction: row; */
    .Mainsubdata {
        widows: 49%;
        // flex-direction: column;
        h2{
            font-family: $fontmain;
            font-size: 20px;
            color: $primary;
        }
        h1{
            font-family: $fontmain;
            font-size: 40px;
            color: $black;
        }
    }
    .Maindataimg{
        width: 40%;
        
    }
}